* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
    color: #000;
}

body {
    position: relative;
    font-size: 62.5%;
    background-color: #aaaaaa20;
    overflow-y: hidden;
}

body h1 {
    font-size: 2rem;
    font-weight: 600;
}

body p {
    font-size: 1.1rem;
}

